.menu{
	padding:15px;
	font-size: 15px;
}
.menu-img{
	height: 40px;
}
.menu-opt{
 text-align: center;
 margin-top: -50px;
}
.search{
	float: right;
	margin-top: -50px;
}
.promo{
	margin-left: 11%;
	position: relative;
	margin-top: -15px;
}
.shop{
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.shop:hover a{
	color: black;
	background-color: white;
}
.shop a{
	text-decoration: inherit;
	color: white;
	border: 3px solid white;
	padding: 5px;
	font-size: 20px;
	right: 20px;
}
.shopb a{
	left: 20px;
	position: absolute;
	bottom: 20px;
	text-decoration: inherit;
	color: white;
	border: 3px solid white;
	padding: 5px;
	font-size: 20px;
}
.shopb:hover a{
	color: black;
	background-color: white;
}
.promo-img{
	width: 56%;
}
#top{
	color: darkgray;
    text-decoration: inherit;
    word-spacing: 40px;
}
#menu-sale{
	color: red;
}
.rear-promo-tr{
	width: 455px;
	height: 265px;
	position: relative;
	float: right;
	margin-right: 12%;
}
.rear-promo-tr-img{
	width: 100%;
	height: 100%;
	
}
.rear-promo-br{
	width: 455px;
	height: 265px;
	position: relative;
	float: right;
	margin-right: 12%;
	top: 15px;
}
.rear-promo-br-img{
	width: 100%;
	height: 100%;
}	
.brand{
	float: left;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 2%;
	width: 30px;
	height: 30px;
}
.brandh{
	margin-left: 12%;
}
.top{
	color: lightgray;
}
.menu-opt-bottom ul{
	display: inline-block;
	padding: 0;
	margin:0;
	list-style: none;
}
.menu-opt-bottom ul li{
	float: left;
	position: relative;
}
.menu-opt-bottom ul li a{
	display: inline-block;
	padding: 20px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	background-color: white;
	border-top: 2px;
}
.menu-opt-bottom ul li:hover .item{
	color: red;
}
.menu-opt-bottom ul li:hover .shoes{
	display: block;
	z-index: 1;
}
.menu-opt-bottom .shoes{
	position: absolute;
	left: 0;
	top: 40px;
	display: none;
}
.shoes li a{
	width:100%;
	text-align: left;

}
.shoes li:hover a{
	color:red;
}
#red{
	color: red;
}
